body {
	height: 100%;
	width: 100%;
	position: absolute;
}

.green {
	background-color: #CED9DD;
}

.white {
	background-color: white;
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.has-height {
	height: 5px;
}


.middle-container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.middle {
	height: 100px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.center {
	text-align: center;
}

.spinner-container {
	height: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
}

.siimple-h3 {
	font-size: 2em;
}