<div class="container">
<div class="row">
  <div class="col-lg-8 mx-auto">
    <h2>About Ruminant Health</h2>
    <p>Ruminant Health provides training and consultancy for the Obsalim technique in the UK. The company was set up by veterinarian <b>Edward De Beukelaer</b> and pharmacist <b>Tony Pinkus</b>.</p>
    <p>Ruminant Health owns the licence to introduce and diffuse Obsalim in the UK and Ireland. We are building a network of Obsalim users by training farmers, and training and licensing professionals on the technique. By doing so, we aim to support and continuously improve ruminant farming practices in the spirit of Obsalim: <b>making farming successful, and providing high welfare for animals and farmers alike</b>.</p>
    <p>Our company is also the contact between the UK and other countries where Obsalim is growing in popularity. Through these contacts, we keep users in the UK up to date with the latest knowledge and developments relating to Obsalim, and any adjoining feeding assessment tools.</p>
  </div>
</div>
</div>