<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h2>Contact Ruminant Health</h2>
      <p class="center-text">Riverside Veterinary Centre<br>Unit 5, Pelham court, Marlborough, SN8 2AG</p>
      <ul class="list-inline banner-social-buttons">
        <li class="list-inline-item">
          <a target="_top" href="mailto:obsalim.uk@gmail.com?Subject=Inquiry%20about%20Ruminant%20Health" class="contact-link btn btn-default btn-lg">
            <i class="fa fa-at fa-fw"></i>
            <span class="network-name">obsalim.uk@gmail.com</span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="tel:07786213636" class="contact-link btn btn-default btn-lg">
            <i class="fa fa-mobile fa-fw"></i>
            <span class="network-name">Edward 07786213636</span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="tel:07774240630" class="contact-link btn btn-default btn-lg">
            <i class="fa fa-mobile fa-fw"></i>
            <span class="network-name">Tony 07774240630</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>