<div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Obsalim UK courses</h2>

            <p>Ruminant Health offers two types of Obsalim courses in the UK:</p>
            <ul>
              <li>A course aimed at <b>farmers</b>, to learn how to use Obsalim on your farm. Find out more about this course below.</li>
              <li>An advanced course designed for <b>future teachers and professionals</b>, who wish to teach Obsalim to new users and/or be licensed to use Obsalim in a farm advisory capacity. If you are interested in this advanced course, please <a href="#contact">contact us</a> for more information.</li>
            </ul>  

            <h3>Obsalim course: Learn how to use Obsalim on your farm</h3>
            <h4>Timeline and content of the course</h4>
            <p>The course takes a total of 6 days. We deliver the first part of the course over 3 individual days, spaced 2 to 3 weeks apart. It includes:</p>

            <div id="courses-text" class="collapse courses-text">
              <ul>
                <li>An introductory session to teach you the method, followed by a practical demonstration of Obsalim application on the farm</li>
                <li>A practical day spent on 3 local farms, during which we will compare and discuss observations in depth, and reach conclusions</li>
                <li>A fine-tuning day to hone and improve your skills, and to provide a deeper understanding of Obsalim. Further practical experience on the farm is included to consolidate this learning.</li>
              </ul>
              <p>There will then be 3 further training days on farm, which we will deliver over a period of 1 to 3 months after the initial course.</p> 
              <p>To minimise your costs and produce a more meaningful experience, we prefer to travel to you. This way, you will not incur additional travel and accommodation costs, nor will you need to employ relief staff for more than a few hours on study days (if at all). You will also benefit from learning in a local Obsalim support group.</p>

              <h4>How to book a course</h4>
              <p>If you are interested in attending a course in your area, please contact either Edward or Tony (<b>07786213636</b> or <b>07774240630</b>, or <a href="mailto:obsalim.uk@gmail.com">obsalim.uk@gmail.com</a>). Because Obsalim is best learnt in small local groups, we require a minimum number of 6 local farmers to attend the course. Obsalim works well with all ruminants, so attendees can include a mix of beef, dairy, sheep and goat farmers.</p>
              
              <h4>Course cost</h4>
              <p>The 6-day course starts from £600 per participant. The course fee includes the essential practice tools you require to start using Obsalim immediately.</p>
              <p>This fee is based on courses organized in the South of England, South Wales and the Midlands. Additional travel expenses may apply for courses taking place further away.</p>
 
              <h4>Why form a local learning group</h4>
              <p>Participants need to form a local group for the purpose of teaching. At least one participant should facilitate the local meetings for the 6 course days. Most of the training takes place using Obsalim in real time on the animals. Training is therefore held on the farm, with sessions rotating between the farms of the participants.</p>
              <p>Founding a local group is also essential for all students to gain confidence in using Obsalim. We know from experience that the best way for farmers to serve their individual goals and vision for their farm is through ongoing contact between the participants.</p>
            </div>
            <div id="gradient-courses" class="gradient white"></div>
            <a id="expand-courses" data-toggle="collapse" data-target="#courses-text" class="btn btn-link">Read on</a>
          </div>
        </div>
      </div>