<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Ruminant Health | Improving UK ruminant farming through Obsalim</title>
<link rel="icon" href="favicon.ico">
<meta name="description" content="Improve your farm profitability and cows, sheep and/or goats welfare through the Obsalim technique. Ruminant Health provides training and consultancy for Obsalim in the UK. We help you make ruminant farming successful and improve animal welfare.">

<meta name="theme-color" content="#4a6905">
<meta name="msapplication-navbutton-color" content="#4a6905">
<meta name="apple-mobile-web-app-status-bar-style" content="#4a6905">

<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Cabin:700,400' rel='stylesheet' type='text/css'>

<!-- Custom styles for this template -->
<link href="css/rumi.min.css" rel="stylesheet">