<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h2>Obsalim in the news</h2>
      <h3>Farmers and professionals share their experience</h3>
      <div id="newsCarousel" class="carousel slide" data-ride="carousel" data-interval="10000" data-pause="hover">
        <ol class="carousel-indicators">
          <li data-target="#news1" data-slide-to="0" class="active"></li>
          <li data-target="#news2" data-slide-to="1"></li>
          <li data-target="#news3" data-slide-to="2"></li>
          <li data-target="#news4" data-slide-to="3"></li>
        </ol>
        <div id="news" class="carousel-inner">
          <div id="news1" class="carousel-item active">
            <img src="img/innovative_farmers.jpg" alt="permaculture" class="news-image">
            <div class="carousel-caption d-none d-md-block">
              <p><i>Innovative Farmers – 7th November 2016</i></p>
              <h5>Using Obsalim for herd health</h5>
              <p>Edward introduced Obsalim to a group of farmers in Wiltshire. Organic dairy farmer, Nick Freeth saw a total increase of 6,000 litres in yield from his 200 cows during the one-month trial. The article quotes Nick:</p>
              <p>“I suppose the best indication is that we’re still using it, long after the trial period ended! It’s a case of starting to really look at the animals, and then making adjustments to their feed. For example, I often have cows which are red in the claw, I draw that card and compare it with other symptoms I’m observing and it’s like an alarm button going off that they’re getting too much energy […].”</p>
              <p><a target="_blank" href="https://www.innovativefarmers.org/news/2016/november/07/using-obsalim-for-herd-health/">Read the full article on the Innovative Farmers website</a>.</p>
            </div>
          </div>
          <div id="news2" class="carousel-item">
            <img src="img/permaculture.jpg" alt="permaculture" class="news-image"> 
            <div class="carousel-caption d-none d-md-block">
              <p><i>Permaculture – 30th March 2017</i></p>
              <h5>Putting observation to the test with alternative dairy methods</h5>
              <p>Farmer Christine Gosling wanted to improve her herd’s health and productivity. With the help of Edward, she put the Obsalim technique to the test. The article quotes Christine:</p>
              <p>“Learning to use the cards was like learning a new language. It takes a while to get used to it, but then it starts to come naturally […] Edward taught us how to use the cards effectively and how to recognise the symptoms. It has taken a while to feel really confident in using and applying the system unaided but overall it allows us to reduce input costs whilst improving the efficiency of the herd.”</p> 
              <p><a target="_blank" href="https://www.permaculture.co.uk/articles/putting-observation-test-alternative-dairy-methods">Read the full article on the Permaculture website</a>.</p>
            </div>
          </div>
          <div id="news3" class="carousel-item">
            <img src="img/farming_uk.jpg" alt="permaculture" class="news-image">
            <div class="carousel-caption d-none d-md-block">
              <p><i>Farming UK – 15th November 2016</i></p>
              <h5>Importance of ruminating cycle underlined by recent Innovative Farmers field lab</h5>
              <p>Using the Obsalim technique, Innovative Farmers completed a field lab which highlighted the importance of a synchronised eating and ruminating cycle. The article quotes Kate Still, animal welfare advisor at the Soil Association:</p>
              <p>“This field lab has really shown us that to allow cows to make the most of the feed they are given they need both time to digest it effectively and structural fibre to aid that digestion […]. Cows that are disturbed by others feeding or by having feed constantly available are more inclined to snack and over eat, resulting in poor rumen function.”</p>
              <p><a target="_blank" href="https://www.farminguk.com/News/Importance-of-ruminating-cycle-underlined-by-recent-Innovative-Farmers-field-lab_44805.html">Read the full article on the Farming UK website</a>.</p>
            </div>
          </div>
          <div id="news4" class="carousel-item">
            <img src="img/holy_goat.jpg" alt="permaculture" class="news-image">
            <div class="carousel-caption d-none d-md-block">
              <p><i>Holy Goat Cheese – 6th November 2017</i></p>
              <h5>Obsalim training: motivated farmers + small on-farm change = big returns</h5>
              <p>Bruno Giboudeau, the French vet who developed Obsalim, ran a workshop for 50 farmers and farm professionals in Australia. The article quotes one of the participants, dairy farmer Ron Smith:</p>
              <p>“It’s about being animal-focussed, not farm/farmer focussed […] I’ve been milking cows for over 50 years and I’m still learning. I’ve always observed the cows and known their names, their natures and their inclinations. […] You can see if something is amiss. These things we have observed all the time, but Obsalim really puts it all together for us in a meaningful way.”</p>
              <p><a target="_blank" href="http://holygoatcheese.com/obsalim-training-motivated-farmers-small-on-farm-change-big-returns/">Read the full article on the Holy Goat Cheese website</a>.</p>
              <p>Plus, read the <a target="_blank" href="http://www.ruminanthealth.co.uk/resources/Holy_Goat_Cheese_case_study.pdf">Holy Goat Organic Farm's case study of Obsalim (pdf)</a>.</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#newsCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#newsCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
  </div>
</div>