<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h2>Testimonials</h2>
      <p>Edward trained the following farmers and professionals on the Obsalim technique.</p>
      <p><b>Chris Gosling, Berkeley Dairy Farm, Wroughton:</b><br>
      "After spending some time learning to observe the cows in a new way and putting the Obsalim technique into practice I was amazed at the improvement in our herd's health."</p>

      <p><b>Jonny Rider, Horton House farm, Devises:</b><br>
      "Three years ago, in the spring of 2015, we used Obsalim on our milking herd, a month before calving when they were dry. As a result of symptoms shown on the cards, we made changes to our wintering that have reduced the amount of food we use, as well as significantly improving the health and condition of the cows. We have subsequently used Obsalim during the grazing season and, as a result, we have altered the timings we shift the cows to new pasture, to maximise rumination and rumen function. Over time, the cards have become a very familiar and useful tool."</p>

      <p><b>Nick Freeth, Manor Farm, Cricklade:</b><br> 
      Nick talks about his experience of Obsalim in this short film:</p>
      <iframe class="testimonial-video" width="560" height="315" src="https://www.youtube.com/embed/hukfp7qgUzc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
</div>